body {
    margin:0px;
	background-color:black;
}

#banner {
    position:relative;
    height:0px;
    text-align:left;
	padding-left:30px;
	color:white;
    font-family:sans-serif;
}

h2 {
    display:inline-block;
}

input {
    display:inline-block;

}
canvas {
    margin-left:auto;
    margin-right:auto;
}
